{% extends "layout.html" %}

{% block heading %}
    Second Page
{% endblock %}

{% block body %}
     <p> arjun kumar gupta gdjjf fhjjf jhjdfjf jkjhjk 5852 5852 558 45 is a good boy .hebnfghfjnyhuyjkfjkfguig hrtgjkhfjhjn hhtgjkjhjh hjkjktgyhjg
     hjkgjkjhjkg
   jkgklklghujklghjkjkghkluijkthjkuijkfgjkhgjkjkg jgjkkghlui jkjkhkjhyrhgyuy jhuyrirfhjh uiuirjkfg uyjirtgjk jhuiribn jjgjkjkuyuiio787844 uiu4i4jhfjkjvmmnui jkdfjkjhjk jjrgjhjkuijk jjfgjhjkfg jhjkjkjhhjhfnuy njkjhjk jkjk njkm klk mjk njkmn jjmm,bnnjkj kl,mnjhmnmklb,.,jkmn mnklg,.  </p>


   <a href="{{ url_for('index')}}">Go back</a>

{% endblock %}
